body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.registration-number {
    text-align: left;
    font-size: 14px;
    margin-top: -10px; 
    margin-left: 100px; 
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.title, .sub-title {
    text-align: center;
    margin: 0;
}

.sub-title {
    margin-bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.header-text {
    text-align: center;
}

.title, .sub-title {
    margin: 0;
}

.republic, .city {
    font-size: 14px;
    margin: 5px 0;
}

.sub-title {
    margin-bottom: 20px;
}

.student-info {
    margin-bottom: 20px;
}

.student-info p {
    margin: 5px 0;
    font-size: 14px;
}

